<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">Welcome to <svg class="svg-inline--fa fa-book fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
      <i class="fas fa-book"></i>
</svg>
<strong>Bookers</strong>!</h1>
  </div>
</div>
</main>
<p id="notice"></p>
<div class="container">
  <div class="row">
  </div>
</div>
<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    	</div>
    </div>
  </div>
</footer>
